.baseForm{
    background-color:#F4F4F4 ;
    /* height: 300px; */
    width: 280px;
    padding: 36px 5%;
    
}
.conditions{
    font-size: 10px;
    color: #211922;
    line-height: 16px;
    font-family: Times New Roman;
}
.submit{
    padding: 12px;
    margin: 10px 0 0 8px;
    background-color: #000;
    color: #ffff;
    border: none;
}
a{
    color: blue;
    text-decoration: underline;
}