.App{
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.container{
  background-color: #F5E8E7;
  padding-bottom: 4% ;
  display: flex;
  flex-direction: row;
  border-radius: 32px;
  width: 800px;
  
}
.left{
   width: 320px;
   padding: 22px 42px;
}
h2{
margin: 0;
padding: 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
.sub{
 color: #211922;
 opacity: 0.8;
 margin-top: 8px;
 size: 12px;
 
}
img{
  /* position: absolute; */
  position: relative;
  top:46%;
  left: -2.5em;
  border-radius: 0 260px 0 0;
  background-color: #FBDCD7;
  
}
